.message {
    display: flex;
    max-width: 700px;
    margin: 10px;
}

.message .card-body {
    padding: 15px 10px;
}

.message .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-size: 12px;
}

.message-user-avatar {
    margin: 10px 15px 0 0;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
}

.message i {
    font-size: 20px;
    margin-left: 40px;
    cursor: pointer;
}